

{
 ;;
 ;; Logging
 ;;

 :ave.logging.unilog/*
 nil

 ;;
 ;; Handlers
 ;;

 :ave.demo.handler.api/*
 nil

 :ave.demo.handler.hello/*
 nil

 :ave.demo.handler.help/*
 nil

 :ave.demo.handler.not-found/*
 nil

 ;;
 ;; Interceptors
 ;;

 :ave.interceptor.request-id/*
 nil

 :ave.interceptor.json-response/*
 nil

 :ave.interceptor.json-body/*
 nil

 :ave.interceptor.params/*
 nil

 :ave.interceptor.keyword-params/*
 nil

 ;;
 ;; Router
 ;;

 :ave.router-reitit/*
 {:interceptors
  [#ig/ref :ave.interceptor.request-id/*
   #ig/ref :ave.interceptor.json-response/*
   #ig/ref :ave.interceptor.json-body/*
   #ig/ref :ave.interceptor.params/*
   #ig/ref :ave.interceptor.keyword-params/*]

  :routes
  ["/" [["api"
         {:get #ig/ref :ave.demo.handler.api/*}]

        ["hello"
         {:get #ig/ref :ave.demo.handler.hello/*}]

        ["help"
         {:get #ig/ref :ave.demo.handler.help/*}]

        ["*"
         {:any #ig/ref :ave.demo.handler.not-found/*}]]]}

 ;;
 ;; Server
 ;;

 :ave.server-jetty/*
 {:port 8088
  :handler #ig/ref :ave.router-reitit/*
  :_ #ig/ref :ave.logging.unilog/*}}
